*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Đặt video nền */
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Định dạng thanh điều hướng */
.main-nav {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:#EEEEEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Định dạng menu điều hướng */
.navigation {
    display: flex;
    list-style: none; /* Loại bỏ dấu chấm tròn mặc định của danh sách */
    padding: 0;
    margin: 0;
    max-width: 1200px; /* Giới hạn chiều rộng tối đa của menu */
    width: 100%; /* Đảm bảo menu trải dài ra toàn bộ không gian của phần tử cha */
}

/* Định dạng liên kết trong menu */
.navigation a {
    display: inline-block;
    padding: 10px 50px; /* Khoảng cách giữa các mục menu */
    text-decoration: none;
    color: #666; /* Màu chữ cho mục menu */
    font-weight: 600;
    border-radius: 10px;
}

/* Định dạng mục menu khi di chuột qua hoặc đang được chọn */
.navigation li {
    flex-grow: 1; /* Mỗi mục menu sẽ chiếm toàn bộ không gian khả dụng */
    text-align: center; /* Căn giữa văn bản trong mỗi mục menu */
}
.navigation a:hover,
.navigation a.active {
    background: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Nền trắng với độ trong suốt */
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%; /* Đảm bảo container không vượt quá chiều rộng tối đa */
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100hv;
    margin: 0;
    padding-top: 200px;

}

#projects {
    padding: 60px 0;
    background-color: #f5f5f5;
    border-radius: 15px;
    text-align: center;
    width: 800px;
}

/* Individual Project Articles */
.project {
    margin: 20px;
    padding: 20px;
    background-color: white; /* Màu nền cho từng dự án */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ cho từng dự án */
    border-radius: 10px; /* Bo tròn góc */
}

/* Project Titles */
.project h2 {
    margin-bottom: 10px; /* Khoảng cách giữa tiêu đề và mô tả dự án */
    color: #333; /* Màu chữ cho tiêu đề dự án */
}
